.value-box {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

h3 {
  line-height: 10px;
}


.status-text {
  color: #50514F;
  font-size: 12px;
  font-weight: 600;
  margin-top: 3px;
}

/** Status dots **/
.dots-and-text {
  width: 50%;
  display: flex;
  justify-content: end;
}

.dots {
  display: flex;
  margin-left: 15px;
  
}

.dot, #dot-open, #dot-ready, #dot-closed {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 3px;
}

.dot { 
  background-color: #bbb;  
}

#dot-open { 
  background-color:#48bf53; 
}

#dot-ready {  
  background-color:#EFB700;
} 

#dot-closed {  
  background-color:#B81D13;
} 
